Repository LuxDL/LuxLib.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/testing.yml

buildkite-agent pipeline upload .buildkite/benchmarks.yml:
  command: buildkite-agent pipeline upload .buildkite/benchmarks.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing.yml:
  command: buildkite-agent pipeline upload .buildkite/testing.yml
  agents:
    queue: juliagpu

add LuxLib Benchmarks (julia) benchmark result for 6a33ba1bf1f98302ea502a43124cdc8d3f53cbec
  benchmarks/data.js
Due: buildkite-agent pipeline upload .buildkite/benchmarks.yml

fix: mixed-precision use Octavian if possible
  src/impl/matmul.jl
Due: buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/testing.yml

perf: be conservative while fusing activation functions
  src/impl/activation.jl
  src/traits.jl
Due: buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/testing.yml

perf: optimize batchnorm implementation
  src/impl/batchnorm.jl
Due: buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/testing.yml

perf: run specific benchmarks
  benchmarks/setup.jl
Due: buildkite-agent pipeline upload .buildkite/benchmarks.yml

perf: selective vectorization of operations bias_add/activation
  src/impl/activation.jl
  src/impl/bias_activation.jl
Due: buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/testing.yml

perf: don't fuse tanh
  src/impl/activation.jl
  src/traits.jl
Due: buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/testing.yml

feat: add traits to fuse activation functions
  src/impl/activation.jl
  src/traits.jl
Due: buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/testing.yml

perf: fused bias activation for certain operations
  src/impl/activation.jl
  src/impl/bias_activation.jl
Due: buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/testing.yml

add LuxLib Benchmarks (julia) benchmark result for 6426043bb12085d65da830d3b31a62d9cedbd556
  benchmarks/data.js
Due: buildkite-agent pipeline upload .buildkite/benchmarks.yml

refactor: qualify CPU functions with `_cpu`
  src/impl/batchnorm.jl
Due: buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/testing.yml

perf: restore running all benchmarks
  benchmarks/setup.jl
Due: buildkite-agent pipeline upload .buildkite/benchmarks.yml

add LuxLib Benchmarks (julia) benchmark result for 8caed344963bbf1a986744fd943c32aba221b6ad
  benchmarks/data.js
Due: buildkite-agent pipeline upload .buildkite/benchmarks.yml

fix(tracker): expand custom Tracker AD for wrapper types
  Project.toml
  ext/LuxLibTrackerExt.jl
  test/others/bmm_tests.jl
Due: buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/testing.yml

fix: subtyping correction
  ext/LuxLibTrackerExt.jl
  test/others/qa_tests.jl
Due: buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/testing.yml

test: ignore tests for batched_vec (not our code)
  test/others/bmm_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml

perf: faster version of groupnorm
  Project.toml
  src/impl/batchnorm.jl
  src/impl/groupnorm.jl
  test/normalization/groupnorm_tests.jl
Due: buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/testing.yml

ci: run downstream testing only on pull requests
  .buildkite/testing.yml
  .github/workflows/CI.yml
Due: buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/testing.yml

refactor: remove unnecessary turbo loop
  Project.toml
  src/impl/normalization.jl
Due: buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/testing.yml

perf: don't rely on compile time branch removal for KA
  src/impl/batchnorm.jl
  src/impl/groupnorm.jl
  src/impl/normalization.jl
Due: buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/testing.yml

perf: static ndrange kernel launches
  src/impl/batchnorm.jl
  src/impl/groupnorm.jl
  src/impl/normalization.jl
  src/utils.jl
Due: buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/testing.yml

perf: let it autotune
  .JuliaFormatter.toml
  src/impl/batchnorm.jl
  src/impl/groupnorm.jl
  src/impl/normalization.jl
  src/utils.jl
Due: buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/testing.yml

refactor: use multiple dispatch for cleaner kernels
  src/impl/batchnorm.jl
  src/impl/groupnorm.jl
Due: buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/testing.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/benchmarks.yml: any of: benchmarks/, src/, ext/, Project.toml, .buildkite/, .github/workflows/Benchmark.yml
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/
